URI(URL) 允许的字符

URI所允许的字符分作保留与未保留。保留字符是那些具有特殊含义的字符. 例如, 斜线字符用于URL (或者更一般的, URI)不同部分的分界符. 未保留字符没有这些特殊含义. 百分号编码把保留字符表示为特殊字符序列。上述情形随URI与URI的不同版本规格会有轻微的变化。

RFC 3986 section 2.2 保留字符 (2005年1月)

! * '( ) ; : @& = + $ ,/ ? # [ ]

RFC 3986 section 2.3 未保留字符 (2005年1月)

A B CD E F G HI J K L MN O P Q RS T U V WX Y Z  
a b cd e f g hi j k l mn o p q rs t u v wx y z  
0 1 23 4 5 6 78 9 - _ .~   


ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_.~!*'();:@&=+$,/?#[]  

URI中的其它字符必须用百分号编码。